<app-main-section [formGroup]="relationshipForm" header="UPDATE RELATIONSHIP">
    <ng-container form-button-section>
        <button mat-flat-button color="accent"
                (click)="cancel()">CANCEL
        </button>
        <button mat-flat-button color="primary"
                [disabled]="relationshipForm.invalid"
                (click)="update()">UPDATE
        </button>
    </ng-container>

    <app-relationship-form [relationshipForm]="relationshipForm"
                           [adjacentVerticesChangeAvailable]="false"
                           [source]="relationship?.source"
                           [target]="relationship?.target"></app-relationship-form>
</app-main-section>
