$color-light-grey: #f0f0f0;
$color-darker-grey: #dddddd;
$color-dark-blue: #385898;
$color-mat-button-active: #fbfbfb;
$color-invalid-input: #f44336;
$color-link-active: #007bff;

$color-graph-edge: #cccccc;
$color-graph-edge-label: #888888;
