<div class="container-fluid border-left-blue-line" *ngIf="entity">
    <div class="row">
        <div class="col-12">
            <a *ngIf="!active" class="header-lg"
               [routerLink]="[RouteConstants.GRAPH_DISPLAY, this.entity.links.graph.href]">
                {{entity.gender | genderSalutation}} {{entity.givenName}} {{entity.familyName}}</a>
            <span *ngIf="active"
                  class="header-lg">{{entity.gender | genderSalutation}} {{entity.givenName}} {{entity.familyName}}</span>
            <mat-divider class="my-2"></mat-divider>
            <app-label-value label="Date of birth" [value]="entity.dateOfBirth" type="date"></app-label-value>
            <app-label-value label="Nationality" [value]="entity.nationality"></app-label-value>
            <app-label-value label="Occupation" [value]="entity.occupation"></app-label-value>
            <app-label-value type="external-link"
                             label="Information source"
                             [value]="entity.informationSourceHost"
                             [externalLink]="entity.informationSource"></app-label-value>
        </div>
        <div class="col-12 d-flex justify-content-end mt-2">
            <a class="no-style" mat-flat-button color="accent" *ngIf="entity.links.self"
               [routerLink]="[RouteConstants.PERSON_DETAIL, entity.links.self.href]">DETAIL</a>
        </div>
    </div>
</div>
