<mat-form-field class="w-100">
    <input matInput
           [matTooltip]="dateInputFormControl.errors | validatorMessage"
           [matTooltipDisabled]="!dateInputFormControl.touched"
           matTooltipPosition="below"
           matTooltipClass="input-validator-messages-tooltip"
           [formControl]="dateInputFormControl"
           [name]="name"
           [placeholder]="placeholder"
           [max]="max"
           [required]="FormUtil.hasRequiredField(dateInputFormControl)"
           [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint align="end">{{inputFormatPlaceholder}}</mat-hint>
</mat-form-field>
