.mat-header-cell {
  font-weight: bold;
}

.mat-column-icons {
  width: 5%;
}

.mat-column-type {
  width: 30%;
}

.mat-column-author {
  width: 15%;
}

.mat-column-assignee {
  width: 15%;
}

.mat-column-created {
  width: 15%;
}

.mat-column-state {
  width: 10%;
}

.mat-column-assignLink {
  width: 10%;
}
